<mat-card>
  <div class="task-custom-placeholder" *cdkDragPlaceholder></div>
  <mat-card-content class="!flex justify-between items-center !p-2">
    <h3 class="!m-0 pl-4 text-lg">{{task.title}}</h3>
    <div class="flex gap-2">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a plus one icon"
        (click)="removeTask(task.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
