.main-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  padding-top: 10rem;
}
