<form class="flex flex-row justify-center gap-2 items-center">
  <mat-form-field appearance="fill">
    <mat-label>Add some task</mat-label>
    <input matInput [formControl]="formCtrl" placeholder="Placeholder" />
    <mat-icon matSuffix>add</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" (click)="addTask()">
    Add
  </button>
</form>
